{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">    
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 500px; border-radius: 20px;">
        <div class="text-center mb-4">
            <img src="{% static 'logo.png' %}" alt="Processos" class="img-fluid mb-4" style="max-width:100%;">            
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">E-mail ou Usuário</label>
                <input type="text" name="username" class="form-control" required autofocus>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2 mt-2">Entrar</button>
        </form>
        <div class="text-left mb-4">
             <p class="text-secondary">Esqueceu sua senha? <a href="#">Clique aqui</a></p>
             <p class="text-secondary">Cadastre-se <a href="{% url 'add_funcionario' %}">Clique aqui</a></p>
        </div>
    </div>
</div>
{% endblock %}
