{% extends "base.html" %}

{% block title %}Lista de Funcionários{% endblock %}

{% block content %}


<h1>Lista de Funcionários</h1>
<a href="{% url 'add_funcionario' %}">Adicionar Funcionário</a>
<ul>
    {% for funcionario in funcionarios %}
        <li>
            {{ funcionario.username }} - {{ funcionario.secretaria.nome }}
            <a href="{% url 'editar_funcionario' funcionario.id %}">Editar</a>
            <a href="{% url 'excluir_funcionario' funcionario.id %}">Excluir</a>
        </li>
    {% endfor %}
</ul>


{% endblock %}