{% extends "base.html" %}

{% block title %}Lista de Pessoa{% endblock %}

{% block content %}

<h1>Lista de Pessoas</h1>
<a href="{% url 'add_pessoa' %}">Adicionar Pessoa</a>
<ul>
    {% for pessoa in pessoas %}
        <li>
            {{ pessoa.username }} - {{ pessoa.email }} - {{ pessoa.cpf }} - {{ pessoa.telefone }}
            <a href="{% url 'editar_pessoa' pessoa.id %}">Editar</a>
            <a href="{% url 'excluir_pessoa' pessoa.id %}">Excluir</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}