{% extends "base.html" %}

{% block title %}Editar de Processo{% endblock %}

{% block content %}

<h2>Editar Processo</h2>
<form method="post">
  {% csrf_token %}
  <label>Título:</label>
  <input type="text" name="titulo" value="{{ processo.titulo }}"><br>
  <label>Descrição:</label>
  <textarea name="descricao">{{ processo.descricao }}</textarea><br>
   <label>Pessoa vinculada:</label>
  <select name="funcionario">
    {% for funcionario in funcionarios %}
      <option value="{{ funcionario.id }}">{{ funcionario.username }}</option>
    {% endfor %}
  </select><br>
  <button type="submit">Salvar Alterações</button>
</form>

{%endblock%}