        body {
            background-color: #f8f9fa;
            padding: 2rem 0;
            font-size: 25px;
        }

        .form-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem;
            border-radius: 10px;
            margin-bottom: 2rem;
        }

        .search-label {
            color: #6c757d;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .form-floating label {
            color: #6c757d;
        }

        .search-btn {
            transition: all 0.3s;
        }

        .search-btn:hover {
            transform: translateY(-2px);
        }

        .form-badge {
            display: inline-block;
            padding: 0.5rem 1rem;
            margin-bottom: 1.5rem;
            border-radius: 30px;
            font-weight: 600;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .animated-icon {
            transition: all 0.3s;
        }

        .search-btn:hover .animated-icon {
            transform: scale(1.2);
        }

        .filter-badge {
            cursor: pointer;
            transition: all 0.3s;
        }

        .filter-badge:hover {
            transform: translateY(-2px);
        }

        .custom-input {
            border-radius: 30px;
            padding: 1rem 1.5rem;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        }

        .floating-container {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        }

        .search-btn img {
            filter: invert(1);
        }

        .btn svg {
            color: white;
        }

        .redondo {
            border-radius: 100%;
        }